// color palette
$primary: rgb(41, 0, 221);
$primaryAccent: rgb(52, 51, 133);
$secondary: rgba(255, 255, 236, 0.938);
$contrastAccent:  rgb(113, 4, 238);

//fonts
$mainFont:rgb(255, 255, 235);
$secondaryFont:rgb(219, 219, 223)